@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
$primary-color: #c5a880;
$seconday-color: #0f0f0f;
$tri-color: #532e1c;
$white: #e6e6e6;
$green-primary: #70af85;
$green-secondary: #c6ebc9;
$lighter-brown: #f0e2d0;
* {
    margin: 0;
    padding: 0;
}
@mixin texts($font-size) {
    font-family: "Noto Sans JP", sans-serif;
    font-size: $font-size;
}
.name {
    font-size: 4vw;
    text-align: center;
    background-color: #c5a880;
    padding: 2vw 4vw;
    border-radius: 10px;
    box-shadow: -5px -9px 5px 0px rgba(83, 46, 28, 1);
    display: inline;
    position: relative;
    top: 100px;
    left: 10px;
    z-index: 10;
}
.image-move {
    background: url("https://wallpaperaccess.com/full/698308.jpg");
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    margin-top: -50px;
    position: sticky;
    background-attachment: fixed;
    clip-path: circle(0px at center);
}
@mixin basic-text {
    font-family: "Noto Sans JP", sans-serif ;
    padding: 1vw;
    font-size: 60px;
    color: $seconday-color;
}
.contents {
    
    color: #0f0f0f;
    background-color: #c5a880;
    position: relative;
    top: 30vh;
    display: flex;

    flex-direction: column;
    justify-content: center;
    .important {
        font-family: "Noto Sans JP", sans-serif;
        border-radius: 20px;
        padding: 1vw;
        color: $seconday-color;

        text-align: left;
        
        margin-left: auto;
        margin-right: auto;
        position: relative;
        font-size: 60px;
        border-radius: 100px;
    }

    p {
        font-size: 25px;
        display: block;
        text-align: center;
        padding-top: 2vh;
        font-family: "Noto Sans JP", sans-serif;
    }
    .link {
        text-decoration: none;
        color: white;
        position: relative;
        transition: 2s;

        &:after {
            content: "";
            border-radius: 4px;
            width: 100%;
            height: 100%;
            display: inline;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: 1s;
            background-color: #0f0f0f;
            border-radius: 20px;
        }
        &:hover {
            transition: 2s;
           
            
            
            &:after {
                z-index: 1;
                opacity: 0;
                transform: scaleY(2) scaleX(1.3);
            }
        }
    }
    

    .card-container{
        margin-bottom: 20vh;
        margin-top:10vh ;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .individual-card{
            margin: 20px;
            border-radius: 10px;
            background-color: $tri-color;
            padding: 30px;
            color: white;
            transition: 1s;
            &:hover{
                color: $seconday-color;
                background-color: $lighter-brown;
                transform: translateY(-15px);
                box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
            }
        }
      
        
    }



}

.horizontal-line {
    position: relative;
    bottom: 20px;
    border: 3px solid $seconday-color;
}
.horizontal{
    width: 100%;
    height: 10px;
    display: flex;
    margin: 0;
    flex-grow: 1;
    .box-sm{
        flex-grow: 1;
        transition: all 1s ease-in-out;
    }
    .brown{
        background-color: $green-secondary;
    }
    .white{
        background-color: $white;
    }
    .black{
        background-color: $seconday-color;
    }
    .green{
        background-color: $green-primary;
    }
    .box-sm:hover{
        flex-grow: 12;
    }
}




















@media screen and (max-width: 1200px) {
    .horizontal-line {
        position: relative;
        bottom: 10px;
        border-width: 1px;
    }
    .contents {
        .important {
            font-size: 30px;
        }
        p {
            padding-top: 1vh;
            font-family: "Noto Sans JP", sans-serif;
            font-size: 15px;
        }
        .card-container{
            .individual-card{
                padding: 15px;
                font-size: 10px;
            }
        }
    }
}
