@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
$primary-color: #c5a880;
$seconday-color: #0f0f0f;
$tri-color: #532e1c;
$white: #e6e6e6;
* {
    margin: 0;
    padding: 0;
}
@mixin texts($font-size) {
    font-family: "Noto Sans JP", sans-serif;
    font-size: $font-size;
}
.name {
    font-size: 4vw;
    text-align: center;
    background-color: #c5a880;
    padding: 2vw 4vw;
    border-radius: 10px;
    box-shadow: -5px -9px 5px 0px rgba(83, 46, 28, 1);
    display: inline;
    position: relative;
    top: 100px;
    left: 10px;
    z-index: 10;
}
.image-move {
    background: url("https://wallpaperaccess.com/full/698308.jpg");
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    margin-top: -50px;
    position: sticky;
    background-attachment: fixed;
    clip-path: circle(0px at center);
}
.contents {
    padding-top: 20px;
    color: #0f0f0f;
    background-color: #c5a880;
    position: relative;
    top: 30vh;
    display: flex;

    flex-direction: column;
    justify-content: center;
    .important {
        font-family: "Noto Sans JP", sans-serif;
        border-radius: 20px;
        padding: 1vw;
        color: $seconday-color;

        text-align: center;
        width: 50vw;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        font-size: 60px;
        border-radius: 100px;
    }

    p {
        font-size: 30px;
        display: block;
        text-align: center;
        padding-top: 3.5vh;
        font-family: "Noto Sans JP", sans-serif;
    }
    .link {
        text-decoration: none;
        color: white;
        position: relative;
        transition: 2s;
        &:after {
            content: "";
            border-radius: 4px;
            width: 100%;
            height: 100%;
            display: inline;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: 1s;
            background-color: #0f0f0f;
            border-radius: 20px;
        }
        &:hover {
            color: white;
            transition: 2s;
            border-radius: 5px;
            background-color: rgba($color: #000000, $alpha: 1);
            padding: 5px;
            &:after {
                z-index: 1;
                opacity: 0;
                transform: scaleY(2) scaleX(1.3);
            }
        }
    }
    .about-card {
        
        background-color: $seconday-color;
        margin: 10vh 0px 5vh 13vh;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        width: 20vw;
        height: 30vh;
       transition: 2s;
        img {
           margin: -20px 10px 10px -20px;
           border-radius: 10px;
        }
        p {
            visibility: hidden;
            margin-left: 20px;
            color: white;
            padding: 0;
            font-size: 15px; 
            text-align: left;
            display: inline;
        }
        &:hover{
            transition: 1s;
            width: 70vw;
            transform: translateX(20px);
            p{
                
                
                visibility: visible;
            }
        }
    }
    .second-container {
        background-color: $tri-color;
        width: 100%;
        margin-top: 30px;
        color: $white;
        .link {
            color: $seconday-color;
            &:hover {
                padding: 7px;
                color: $white;
            }
        }
        .card-container {
            padding: 2.5vw;
            h2 {
                font-size: 50px;
            }
            hr {
                position: relative;
                top: 10px;
                border-color: $white;
            }
        }
    }
}

.horizontal-line {
    position: relative;
    bottom: 20px;
    border: 2px solid $seconday-color;
}
@media screen and (max-width: 1150px) {
    .second-container {
        .card-container {
            h2 {
                font-size: 30px;
            }
        }
    }
}
@media screen and (max-width: 1153px) {
    .horizontal-line {
        position: relative;
        bottom: 10px;
        border-width: 1px;
    }
    .important {
        font-size: 30px;
    }
    .contents {
        p {
            padding-top: 1vh;
            font-family: "Noto Sans JP", sans-serif;
            font-size: 3vw;
        }
    }
}
